
  <h2 class="text-2xl bg-orange-50 font-bold mb-4">Détails de la justification</h2>

  <div *ngIf="justificationDetails" class="p-6 max-w-lg mx-auto bg-white shadow-md rounded">
  <p><strong>Commentaire :</strong> {{ justificationDetails?.commentaire }}</p>
  <p><strong>Fichier :</strong> <a [href]="justificationDetails?.fichierUrl" target="_blank" class="text-blue-600 underline">Voir le fichier</a></p>
  <p><strong>Statut :</strong> {{ justificationDetails?.statut }}</p>
  <p><strong>Date de soumission :</strong> {{ justificationDetails?.dateSoumission }}</p>

  <button class="mt-4 bg-[#5c2b0b] text-white px-3 py-2 rounded" routerLink="/session">Retour</button>
</div>
