<div class="bg-white rounded-lg shadow-md p-4 mb-4 hover:shadow-lg transition w-full">
  <div class="grid grid-cols-4 gap-4 text-center">
    <div>
      <p class="text-orange-400 font-bold">Nom</p>
      <p class="font-mono text-black">{{ etudiant.nom }}</p>
    </div>
    <div>
      <p class="text-orange-400 font-bold">Prenom</p>
      <p class="font-mono text-black">{{ etudiant.prenom }}</p>
    </div>
    <div>
      <p class="text-orange-400 font-bold">Matricule</p>
      <p class="font-mono text-black">{{ etudiant.matricule }}</p>
    </div>
    <div>
      <p class="text-orange-400 font-bold">Classe</p>
      <p class="font-mono text-black">{{ etudiant.classe }}</p>
    </div>
  </div>
</div>
